// --- my colorful colors ---
$my-red: #ff808d;
$my-yellow: #ffdf80;
$my-green: #80ffc3;
$my-blue: #80eaff;
$my-dark: #222222;

// --- other colors overrides ---
$body-bg-dark: #000000;
$border-color-dark: #888888;
$dark-border-subtle-dark: #444444;

@import "chponskiy/static/bootstrap/scss/functions";
@import "chponskiy/static/bootstrap/scss/variables";

// --- main colors overrides ---
$primary: #EEEEEE;
$secondary: #DDDDDD;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
    "primary": $primary,
    "secondary": $secondary
));

// set changes
@import "chponskiy/static/bootstrap/scss/bootstrap";

// --- the rest of styling ---
html, body, #mount, #app, #layout {
    height: 100%;
}

#overlays {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
}

.btn-hover-outline-primary:hover {
    border-color: $primary !important;
}

// --- override button colors ---
$btn-color: (
        "btn-outline-info": $my-blue,
        "btn-outline-success": $my-green,
        "btn-outline-warning": $my-yellow,
        "btn-outline-danger": $my-red,
        "btn-outline-dark": $my-dark
);

@each $btn, $col in $btn-color {
    .#{$btn} {
        --bs-btn-color: #{$col};
        --bs-btn-border-color: #{$col};
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #{$col};
        --bs-btn-hover-border-color: #{$col};
        --bs-btn-focus-shadow-rgb: 13, 202, 240;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #{$col};
        --bs-btn-active-border-color: #{$col};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #{$col};
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #{$col};
        --bs-gradient: none;
    }
}

.btn-outline-dark {
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

// --- callouts (taken examples from bootstrap docs) ---
.callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: var(--bd-callout-code-color);
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

// decrease margin for two callouts next to each other
.callout + .callout {
    margin-top: -.25rem;
}

.callout .highlight {
  background-color:rgba(0,0,0,0.05)
}

.callout-info {
    --bd-callout-color: var(--bs-info-text-emphasis);
    --bd-callout-bg: var(--bs-info-bg-subtle);
    --bd-callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
    --bd-callout-color: var(--bs-warning-text-emphasis);
    --bd-callout-bg: var(--bs-warning-bg-subtle);
    --bd-callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
    --bd-callout-color: var(--bs-danger-text-emphasis);
    --bd-callout-bg: var(--bs-danger-bg-subtle);
    --bd-callout-border: var(--bs-danger-border-subtle)
}

// --- forms ---
.form-signin {
    max-width: 330px;
    padding: 1rem;

    input {
        margin-top: 30px;
    }

    button {
        margin-top: 30px;
    }
}

#id_password1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#id_password2 {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-index {
    max-width: 500px !important;
    padding: 1rem;
    //color: black;
    background: #22222288;
    backdrop-filter: blur(2px) brightness(200%);
}

.form-leaderboard {
    max-width: 700px !important;
    padding: 1rem;
    background: #22222288;
    backdrop-filter: blur(2px) brightness(200%);
}

.form-profile {
    max-width: 900px !important;
    padding: 1rem;
    background: #22222288;
    backdrop-filter: blur(2px) brightness(200%);
}

.form-game {
    max-width: 500px !important;
    padding: 1rem;
    transition: height 0.5s;
}

.btn-outline-info, .btn-outline-success, .btn-outline-warning, .btn-outline-danger {
    filter: drop-shadow(0 0 0.5rem var(--bs-btn-color));
}

// --- background canvas ---
canvas {
    position: fixed;
    left: 0; top: 0;
    z-index: -1;
}

// --- simple animated elements ---
#blocker {
    position: fixed;
    z-index: 2000 !important;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.circle {
    width: 1px;
    height: 1px;
    border-radius: 100vh;

    position: fixed;
    overflow: hidden;

    animation: grow 1s ease-in forwards;
    z-index: 10000 !important;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(10000);
    }
}

// --- tables ---
.table-container {
    border-left: #888888 1px solid;
    border-right: #888888 1px solid;
}

.table {
    margin-bottom: 0 !important;
}

th, td {
    background: transparent !important;
}

// --- nav tabs ---
.nav-link.active {
    background: transparent !important;
    border-bottom-width: 0;
    margin-bottom: -1px;
}