// --- other colors overrides ---
$body-bg-dark: #000000;
$border-color-dark: #888888;
$dark-border-subtle-dark: #444444;

@import "chponskiy/static/bootstrap/scss/functions";
@import "chponskiy/static/bootstrap/scss/variables";

// --- main colors overrides ---
$primary: #EEEEEE;
$secondary: #DDDDDD;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
    "primary": $primary,
    "secondary": $secondary
));

// set changes
@import "chponskiy/static/bootstrap/scss/bootstrap";

// --- the rest of styling ---
html, body, #mount, #app, #layout {
    height: 100%;
}

.btn-hover-outline-primary:hover {
    border-color: $primary !important;
}

// --- callouts (taken examples from bootstrap docs) ---
.callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: var(--bd-callout-code-color);
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

// decrease margin for two callouts next to each other
.bd-callout + .bd-callout {
    margin-top: -.25rem;
}

.bd-callout .highlight {
  background-color:rgba(0,0,0,0.05)
}

.callout-info {
    --bd-callout-color: var(--bs-info-text-emphasis);
    --bd-callout-bg: var(--bs-info-bg-subtle);
    --bd-callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
    --bd-callout-color: var(--bs-warning-text-emphasis);
    --bd-callout-bg: var(--bs-warning-bg-subtle);
    --bd-callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
    --bd-callout-color: var(--bs-danger-text-emphasis);
    --bd-callout-bg: var(--bs-danger-bg-subtle);
    --bd-callout-border: var(--bs-danger-border-subtle)
}

// --- forms ---
.form-signin {
    max-width: 330px;
    padding: 1rem;

    input {
        margin-top: 30px;
    }

    button {
        margin-top: 30px;
    }
}

#id_password1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#id_password2 {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-index {
    max-width: 500px !important;
    padding: 1rem;
    //color: black;
    background: #22222288;
    backdrop-filter: blur(2px) brightness(200%);
}

// --- background canvas ---
canvas {
    position: fixed;
    left: 0; top: 0;
    z-index: -1;
}