{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="mount">
<div id="app">
{% block header %}
<nav id="header">
    <div class="container fixed-top">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
                <img alt="🈺" src="{% static 'img/favicon_flat.svg' %}">
                <span class="fs-4" style="font-family: Arial, sans-serif; font-style: italic">Chponskiy!</span>
            </a>
            {% if user.is_authenticated %}
            <a class="link-body-emphasis text-decoration-none" href="{% url 'profile' %}">{{ user.username }}</a>
            {% else %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn btn-hover-outline-primary me-2" type="button" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary me-2" type="button" href="{% url 'register' %}">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        </header>
    </div>
</nav>
{% endblock header %}
<main id="layout">
{% block layout %}{% endblock layout %}
</main>
</div>
<div id="overlays"></div>
</div>
{% endblock content %}
