{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Chponskiy!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <script>let _ = 0; //empty script to prevent the FUC (Flash of Unstyled Content)</script>
    {% block content %}{% endblock %}
</body>
</html>
