{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en" {% block html_attrs %}data-bs-theme="dark"{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chponskiy!{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
    {% endcompress %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    {% block head_extra %}{% endblock head_extra %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/8.6.6/pixi.min.js"
            integrity="sha512-9Che/pADxtzmgRM/Lt7g+wgmgVPNu4qLCOjH+owFqCSpd9HHCi1fMYp+XtfE8nOdRQWUsD0TUNQUc5Z1SwaLyw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
    // load shaders func
    let index_frag_source = "";
    let index_vert_source = "";

    const fetchShaders = async () => {
        await fetch('{% static 'glsl/index.vert' %}')
            .then(response => response.text())
            .then((data) => {
                index_vert_source = data
            });
        await fetch('{% static 'glsl/index.frag' %}')
            .then(response => response.text())
            .then((data) => {
                index_frag_source = data
            });
    }

    // load audio
    const audio1Up = new Audio("{% static 'snd/1up.mp3' %}");   audio1Up.volume = 0.5;
    const audioClear = new Audio("{% static 'snd/clear.mp3' %}");   audioClear.volume = 0.5;
    const audioEnter = new Audio("{% static 'snd/enter.mp3' %}");   audioEnter.volume = 0.5;
    const audioFail1 = new Audio("{% static 'snd/fail1.mp3' %}");   audioFail1.volume = 0.5;
    const audioFail2 = new Audio("{% static 'snd/fail2.mp3' %}");   audioFail2.volume = 0.7;
    const audioFail3 = new Audio("{% static 'snd/fail3.mp3' %}");   audioFail3.volume = 0.5;
    const audioFail4 = new Audio("{% static 'snd/fail4.mp3' %}");   audioFail4.volume = 0.7;
    const audioFail5 = new Audio("{% static 'snd/fail5.mp3' %}");   audioFail5.volume = 0.7;
    const audioFail6 = new Audio("{% static 'snd/fail6.mp3' %}");   audioFail6.volume = 1.0;
    const audioFail7 = new Audio("{% static 'snd/fail7.mp3' %}");   audioFail7.volume = 1.0;
    const audioFail8 = new Audio("{% static 'snd/fail8.mp3' %}");   audioFail8.volume = 0.5;
    const audioFail9 = new Audio("{% static 'snd/fail9.mp3' %}");   audioFail9.volume = 0.5;
    const audioFail10 = new Audio("{% static 'snd/fail10.mp3' %}");   audioFail10.volume = 0.5;
    const audioFail11 = new Audio("{% static 'snd/fail11.mp3' %}");   audioFail11.volume = 0.5;
    const audioFail12 = new Audio("{% static 'snd/fail12.mp3' %}");   audioFail12.volume = 0.5;
    const audioFail13 = new Audio("{% static 'snd/fail13.mp3' %}");   audioFail13.volume = 0.5;
    const audioSuccess1 = new Audio("{% static 'snd/success1.mp3' %}");   audioSuccess1.volume = 0.5;

    const mus1 = new Audio("{% static 'snd/mus1.ogg' %}"); mus1.volume = 0.5; mus1.loop = true;
    const mus2 = new Audio("{% static 'snd/mus2.ogg' %}"); mus2.volume = 0.5;
    const mus3 = new Audio("{% static 'snd/mus3.ogg' %}"); mus3.volume = 0.7;
    const mus4 = new Audio("{% static 'snd/mus4.ogg' %}"); mus4.volume = 0.7;

    </script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
</head>
<body class="{% block body_classes %}{% endblock %}">
    <script>const _ = 0; //empty script to prevent the FUC (Flash of Unstyled Content)</script>
    <div id="overlays"></div>
    <div id="mount">

        <div id="app">
            {% block header %}
            <nav id="header">
                <div class="container fixed-top">
                    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
                        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
                            <img alt="🈺" src="{% static 'img/favicon_flat.svg' %}">
                            <span class="fs-4" style="font-family: Arial, sans-serif; font-style: italic">Chponskiy!</span>
                        </a>
                        {% if user.is_authenticated %}
                        <a class="link-body-emphasis text-decoration-none" href="{% url 'profile' %}">{{ user.username }}</a>
                        {% else %}
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="btn btn-hover-outline-primary me-2"
                                   type="button"
                                   href="{% url 'login' %}"
                                   id="a-login"
                                >Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary me-2"
                                   type="button"
                                   href="{% url 'register' %}"
                                   id="a-register"
                                >Sign Up</a>
                            </li>
                        </ul>
                        {% endif %}
                    </header>
                </div>
            </nav>
            {% endblock header %}
            <main id="layout" class="{% block layout_classes %}{% endblock %}">
            {% block layout %}{% endblock layout %}
            </main>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>