{% extends 'base.html' %}
{% load static %}

{% block layout %}
<div class="h-100 d-flex align-items-center py-4">
<div class="form-index w-100 m-auto border border-dark-subtle rounded">
    <h1 class="text-center">Pick a level!</h1>
    <button id="btn-practice" class="btn btn-lg btn-outline-info w-100 mt-2">Practice</button>
    <button id="btn-easy" class="btn btn-lg btn-outline-success w-100 mt-2">Easy</button>
    <button id="btn-medium" class="btn btn-lg btn-outline-warning w-100 mt-2">Medium</button>
    <button id="btn-nightmare" class="btn btn-lg btn-outline-danger w-100 mt-2">Nightmare</button>
</div>
</div>
{% endblock %}
